  /* Alles heeft een margin en padding van 0 gekregen, nu worden de randen geraakt. */

  body {
      background-color: #00477F;
  }

  body,
  ul,
  img {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
  }


  /* De header is nu de eerste flex container. */

  header {
      align-items: center;
      display: flex;
      padding: .5em;
      background-color: #3e3739;
  }

  /* De flex-items blijven even breed en flexible. */

  a#logo,
  nav {
      flex: 1;
  }

  /* De nav ul is nu de tweede flex container. */

  nav ul {
      display: flex;
      justify-content: space-around;
      padding: 0.2em 0em;
  }

  /* We halen de list-style weg zodat we alleen het nodige nog zien. */

  nav li {
      list-style: none;
  }

  nav ul li a img {
      width: 5em;
      height: 3em;
  }

  #profile {
      width: 5em;
      height: 2.3em;
      padding-top: 5px;
  }

  nav ul li button img {
      width: 8em;
      height: 4em;
      padding-left: 3em;
  }

  /* Zoekbalk style / animatie */

  /* https://codepen.io/menelaosly/pen/rZddyb */

  nav ul li#zoekbalkspace {
      padding-right: 2em;
  }

  form#zoekbalk {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 1s;
      width: 50px;
      height: 50px;
      background: #ebebec;
      box-sizing: border-box;
      border-radius: 25px;
      border: 4px solid #ebebec;
      padding: 5px;
  }

  input#zoekbalkinput {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      ;
      height: 42.5px;
      line-height: 30px;
      outline: 0;
      border: 0;
      display: none;
      font-size: 1em;
      border-radius: 20px;
      padding: 0 20px;
  }

  .fa {
      box-sizing: border-box;
      padding: 10px;
      width: 42.5px;
      height: 42.5px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      color: #ed1a2d;
      text-align: center;
      font-size: 1.2em;
      transition: all 1s;
  }

  form#zoekbalk:hover {
      width: 200px;
      cursor: pointer;
  }

  form#zoekbalk:hover input {
      display: block;
  }

  form#zoekbalk:hover .fa {
      background: #ed1a2d;
      color: #ebebec;
  }

  /* Knop naar een random kort verhaal die je nog niet gezien hebt */

  /*-----------------------------------------------------------*/

  section#snelZoeken {
      padding: 1.5em;
      background-color: #ebebec;
  }

  section button {
      margin: auto;
      width: 100%;
      background-color: #ffffff;
      color: #00477F;
      font-size: 1em;
      display: flex;
  }

  /* Pijl verticaal gecentreerd en grootte bepaald */

  section button img {
      width: 2em;
      display: block;
      margin: auto;
      padding-left: 2em;
  }


  /* Main form. */

  /*-----------------------------------------------------------*/

  /* Achtergrond. */

  main {
      background-color: white;
      color: #00477F;
  }

  /* De kopgrootte aanpassen. */

  main h1 {
      padding: 1em 1em 0em 1.2em;
      font-size: 1.2em;
  }

  /* De legends alleen visible houden voor screenreaders. */

  legend {
      visibility: hidden;
  }

  /* De style compleet weghalen van de fieldsets. */

  fieldset {
      border: none;
      margin: 0em;
      padding: 0em 1.5em;
  }

  /* Grootte en ruimte van de p's. */

  main p {
      margin-top: 0em;
      font-size: 0.8em;
      margin: 1em 1.5em;
      background-color: white;

  }

  /* De fieldsets leesbaarheid en genre moeten nog niet te zien zijn als je de website opent. */

  fieldset#leesbaarheid {
      display: none;
  }

  fieldset#genre {
      display: none;
  }

  input[type=submit] {
      background: url(media/Volgende.svg);
      background-repeat: no-repeat;
      border: 0;
      display: block;
      height: 2.5em;
      width: 10em;
      margin-left: 23em;
  }

  /* Alle populairste items. */

  /*-----------------------------------------------------------*/

  a {
      color: black;
      text-decoration: none;
  }

  section#populair {
      background-color: #00477F;
      width: 100%;
  }


  section#populair h2 {
      color: white;
      padding: 1em;
  }

  article {

      margin-left: 1.5em;
      margin-right: 1.5em;
      max-width: 24em;

      background: white;
      padding: 0;
      display: grid;
      grid-template-columns: 5fr 1fr;
      align-items: center;
      border-radius: 4px;
      overflow: hidden;
      margin: 1em;
  }

  article img:first-of-type {
      max-width: 100%;
      margin: 0;
      grid-column: span 2;
  }

  article a img:first-of-type {
      max-width: 100%;
      margin: 0;
      grid-column: span 2;
  }

  article p {
      padding: 0 1rem;
      border-bottom: 2px #ed1a2d solid;
      margin: 0em 3em 0em 1em;
  }

  article p.leestijd {
      padding: 0 1rem;
      border-bottom: none;
      color: #b7b7b7;
  }

  article footer {
      padding: 0rem .5rem;
      background-color: white;
      border-radius: 0 0 1rem 0;
  }

  article button {
      margin: .25em;
      border-radius: .5em;
      padding: .5em;
      padding-right: 2.5em;
      border: none;
      width: 5em;
  }

  article button.like {
      background: url(media/like.svg) no-repeat;
      height: 2em;
      width: 4em;
      padding: 1em;
      padding-left: 3em;
  }

  .likeclick {
      background: url(media/likehoverclick.svg) no-repeat;
      height: 2em;
      width: 4em;
      -webkit-transition: background-image 0.2s ease-in-out;
      transition: background-image 0.2s ease-in-out;
  }

  /* Aanbevolen */

  section#aanbevolen {
      background-color: #ebebec;
      width: 100%;
  }


  section#aanbevolen h2 {
      color: #00477F;
      padding: 1em;
  }

  button.meerverhalen {
      display: none;
  }

  /* Responsive Tablet */

  @media screen and (min-width: 767px) {

      /* Snel zoeken knop, staat nu in het midden */
      section button#snelzoeken {
          margin: auto;
          width: 24em;
          background-color: #ffffff;
          color: #00477F;
          font-size: 1em;
          display: flex;
      }
      /* Form centreren */
      form {
          margin-left: 22%;
      }

      main h1 {
          margin-left: 25%;
      }

      main p {
          margin-left: 25%;
      }

      /* Articles flexboxen */
      #articles {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }

      button.meerverhalen {
          width: 24em;
          display: block;
          margin: auto;
          color: #00477F;
          font-size: 1em;
          display: flex;
          margin-top: 2em;
          margin-bottom: 2em;
      }
  }

  /* Responsive Desktop */

  @media screen and (min-width: 1023px) {

      section#snelZoeken {
          width: 50%;
          padding-top: 4.5em;
      }

      main {
          width: 50%;
      }

      div {
          display: flex;
      }

      article {
          max-width: 19.56em;
      }

  }



  /* Google font */

  <style > @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
  </style >
